<html
  lang="en"
  class="antialiased text-stone-500 bg-black font-sans mx-auto max-w-4xl p-4 overflow-x-hidden"
>

  <meta charset="utf-8" />
  <title>{{siteTitle}}</title>
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="dark" />
  <meta name="theme-color" content="#1C1917" />
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="https://praveenjuge.com/favicon.ico"
  />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="{{siteTitle}}"
    href="{{feedHref}}"
  />
  <link href="index.css" rel="stylesheet" />

  {{#each dates}}
    <p>{{isoPublishDate}}</p>
    {{#each sources}}
      <section>
        <a href={{siteUrl}} target="_blank">{{title}}</a>
        {{#each articles}}
          <article>
            <a href={{link}} target="_blank">{{title}}</a>
            <p>{{description}}</p>
          </article>
        {{/each}}
      </section>
    {{/each}}
  {{/each}}

</html>