<meta charset="utf-8" />
<title>{{siteTitle}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="dark" />
<link rel="shortcut icon" href="https://praveenjuge.com/favicon.ico" />
<style>body{margin:0 auto;max-width:50rem;padding:2rem;font-size:.85rem;line-height:1.6;color:#666;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,sans-serif}body>*,section>*{margin:1.5rem 0}section{overflow-x:hidden;border-radius:.25rem;background-color:#111;padding:1rem}div{display:flow-root;width:100%}p{margin:0}a{text-decoration:none;font-weight:500;color:#ccc}a:visited{color:#666}a:hover{color:#fff}img{float:right;margin-left:1rem;border-radius:.25rem;height:auto}</style>

{{#each dates}}
  <p>{{isoPublishDate}}</p>
  {{#each sources}}
    <section>
      <p>{{title}}</p>
      {{#each articles}}
        <div>
          {{#if imageUrl}}
            <img src="{{imageUrl}}" width="96" loading="lazy" />
          {{/if}}
          <a href={{link}} target="_blank">{{title}}</a>
          <p>{{description}}</p>
        </div>
      {{/each}}
    </section>
  {{/each}}
{{/each}}