<meta charset="utf-8" />
<title>{{siteTitle}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="color-scheme" content="dark" />
<link rel="shortcut icon" href="https://praveenjuge.com/favicon.ico" />
<style>body{margin:1.25rem auto;max-width:50rem;padding:1rem;font-size:.85rem;line-height:1.6;color:#737373;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji}body>:not([hidden])~:not([hidden]){margin-top:1.5rem;margin-bottom:1.5rem}section>:not([hidden])~:not([hidden]){margin-top:1.5rem;margin-bottom:1.5rem}section{overflow-x:hidden;border-radius:.25rem;background-color:#000;padding:1rem}div{display:flow-root;width:100%}p{margin:0}a{text-decoration:none;font-weight:500;color:#d4d4d4}a:visited{color:#737373}a:hover{color:#fff}img{float:right;margin-left:1rem;border-radius:.25rem;height:auto}</style>

{{#each dates}}
  <p>{{isoPublishDate}}</p>
  {{#each sources}}
    <section>
      <p>{{title}}</p>
      {{#each articles}}
        <div>
          {{#if imageUrl}}
            <img src="{{imageUrl}}" width="96" loading="lazy" />
          {{/if}}
          <a href={{link}} target="_blank">{{title}}</a>
          <p>{{description}}</p>
        </div>
      {{/each}}
    </section>
  {{/each}}
{{/each}}